@model FacturamaConsumirApi.Models.EmisorModel

@Html.Partial("_BarMenu")

@{
    ViewBag.Title = "Eliminar Emisor";
}
<head>
    <meta http-equiv=“X-UA-Compatible” content=“IE =8” />

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Consultar Facturas</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <link rel="stylesheet" href="~/Styles/Mirage.css">

    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
</head>

<body id="body-pd" class="h-100" style="background-color: #F4F6F8;">
    <!-- Start: Titulo -->

    <section class="pt-3">
        <!-- Start: Tabs -->
        <h2>¿Quieres eliminar el siguiente Emisor?</h2>
        <!-- End: Tabs -->
    </section>

    <!-- End: Titulo -->

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmisorRfc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorRfc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorRazSocial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorRazSocial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorEstatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorEstatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorRegFiscal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorRegFiscal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorIdExterno1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorIdExterno1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorIdExterno2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorIdExterno2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorIdExterno3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorIdExterno3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorCorreo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorCorreo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorLogoUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorLogoUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorCodPostal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorCodPostal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorMunicipio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorMunicipio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorEstado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorEstado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorColonia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorColonia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorCalle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorCalle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorNoExterior)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorNoExterior)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorNoInterior)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorNoInterior)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorFolioInic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorFolioInic)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="button" value="Regresar" class="btn d-flex justify-content-center align-items-center w-50 btn-secondary" onclick="location.href='@Url.Action("Index", "Emisor")';" />
                    </div>
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Eliminar" class="btn d-flex justify-content-center align-items-center w-50 btn-secondary-700" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>


