@model FacturamaConsumirApi.Models.EmisorModel

@Html.Partial("_BarMenu")

@{
    ViewBag.Title = "Editar Emisor";
}
<head>
    <meta http-equiv=“X-UA-Compatible” content=“IE =8” />

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Consultar Facturas</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <link rel="stylesheet" href="~/Styles/Mirage.css">

    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
</head>
<body id="body-pd" class="h-100" style="background-color: #F4F6F8;">
    <!-- Start: Titulo -->

    <section class="pt-3">
        <!-- Start: Tabs -->
        <h2>Editar Emisor</h2>
        <!-- End: Tabs -->
    </section>

    <!-- End: Titulo -->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />

            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorRfc, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorRfc, new { htmlAttributes = new { @class = "form-control disabled-input" } })


                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorRazSocial, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorRazSocial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorRazSocial, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorEstatus, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorEstatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorEstatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorRegFiscal, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorRegFiscal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorRegFiscal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorIdExterno1, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorIdExterno1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorIdExterno1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorIdExterno2, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorIdExterno2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorIdExterno2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorIdExterno3, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorIdExterno3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorIdExterno3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorCorreo, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorCorreo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorCorreo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorLogoUrl, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.TextAreaFor(model => model.EmisorLogoUrl, new { @class = "form-control", rows = 2 })
                            @Html.ValidationMessageFor(model => model.EmisorLogoUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorCodPostal, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorCodPostal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorCodPostal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorMunicipio, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorMunicipio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorMunicipio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorEstado, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorEstado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorEstado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorColonia, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorColonia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorColonia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorCalle, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorCalle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorCalle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorNoExterior, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorNoExterior, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorNoExterior, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorNoInterior, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorNoInterior, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorNoInterior, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmisorFolioInic, htmlAttributes: new { @class = "control-label fw-semibold" })
                        <div>
                            @Html.EditorFor(model => model.EmisorFolioInic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmisorFolioInic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <section class="pt-3">
            </section>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="button" value="Regresar" class="btn d-flex justify-content-center align-items-center w-50 btn-secondary" id="btn-bootstrap" onclick="location.href='@Url.Action("Index", "Emisor")';" />
                    </div>
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Guardar" class="btn d-flex justify-content-center align-items-center w-50 btn-success" id="btn-bootstrap" />
                    </div>
                </div>
            </div>
            <section class="pt-3">
            </section>
        </div>
    }

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/sidebar.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
