@model Tuple<List<ConfiguracionCamposMRGE.Models.ProveedorCamposModel>, List<ConfiguracionCamposMRGE.Models.CampoMirageModel>>

@Html.Partial("_BarMenu")

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv=“X-UA-Compatible” content=“IE =8” />

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Consultar Facturas</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <link rel="stylesheet" href="~/Styles/Mirage.css">

    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/0fabe3d8af.js" crossorigin="anonymous"></script>

    <script>
        window.onload = function () {
            enableFechasEmision();
        }
    </script>
</head>

<body id="body-pd" class="h-100" style="background-color: #F4F6F8;">

    <!-- Start: Titulo -->

    <section class="pt-3">
        <!-- Start: Tabs -->
        <!-- End: Tabs -->
    </section>

    <!-- End: Titulo -->
    <!-- Start: Filtros -->

    <section class="mt-3 px-3">
        <div class="card border-0">
            <div class="card-body shadow-sm">
                <form action="/ConfigCampos/CrearCampoProveedor" method="post">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Start: enableFechasEmision -->
                            <div class="col-md-1">
                                <label class="form-label fw-semibold text-gray" for="idProveedor">Id:</label>
                                <input class="form-control" type="text" placeholder="ID" name="id" id="serie"></input>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label fw-semibold text-gray" for="Proveedor">Proveedor:</label>
                                <input class="form-control" type="text" placeholder="Proveedor" name="proveedor" id="serie"></input>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label fw-semibold text-gray" for="Campo">Campo:</label>
                                <input class="form-control" type="text" placeholder="Campo" name="campo" id="serie"></input>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label fw-semibold text-gray" for="Etiqueta">Etiqueta:</label>
                                <input class="form-control" type="text" placeholder="Etiqueta" name="etiqueta" id="serie"></input>
                            </div>
                            <div class="col-md-1">
                                <label class="form-label fw-semibold text-gray" for="TipoDato">Tipo de Dato:</label>
                                <input class="form-control" type="text" placeholder="Tipo De Dato" name="tipodato" id="serie"></input>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="input5" class="form-label fw-semibold text-gray">Es arreglo?</label>
                                    <select id="inputState" class="form-control" name="arreglo">
                                        <option selected>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <!-- End: enableFechasEmision -->
                            <!-- Start: Buscar -->
                            <!-- End: Buscar -->
                            <!-- Start: Folio fiscal -->
                            <div class="row mt-2">
                                <div class="col-md-1">
                                    <label class="form-label fw-semibold text-gray" for="Etiqueta">Version:</label>
                                    <input class="form-control" type="text" placeholder="Version" name="version" id="serie"></input>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label for="input5" class="form-label fw-semibold text-gray">Obligatorio?</label>
                                        <select id="inputState" class="form-control" name="obligatorio">
                                            <option selected>Si</option>
                                            <option>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xl-3 col-xxl-2 d-flex justify-content-center align-items-center mt-5 mt-xxl-0">
                                    <button class="btn d-flex justify-content-center align-items-center w-50 btn-primary" id="btn-bootstrap"
                                            type="submit" value="FacturasFolio"

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em"
                                         height="1em" fill="currentColor">
                                        <!-- ! . -->
                                        <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z">
                                        </path>
                                    </svg>

                                    &nbsp;Crear
                                </button>
                                </div>
                            </div>

                            <!-- End: Folio fiscal -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- End: Filtros -->

    <section class="mt-3">
        <div class="container-fluid">
            <div class="row">


                <div class="col mt-3 mt-xl-0 table-responsive">
                    <div class="card border-0 shadow-sm h-100">


                        <div class="row">
                            <div class="col-md-5">
                                <table id="table1" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Campos Proveedor</th>
                                            <th scope="col" colspan="2" class="text-center">Acciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Item1)
                                        {
                                            <tr>

                                                <td class="text-center">@item.CamposPrCampo</td>
                                                <td class="text-center">
                                                    <form method="post" action="@Url.Action("MoveRow", "ConfigCampos")">
                                                        <input type="hidden" name="id" value="@item.CamposPrId" />
                                                        <input type="hidden" name="proveedor" value="@item.CamposPrProveedor" />
                                                        <input type="hidden" name="campo" value="@item.CamposPrCampo" />
                                                        <input type="hidden" name="etiqueta" value="@item.CamposPrEtiqueta" />
                                                        <input type="hidden" name="arreglo" value="@item.CamposPrArreglo1" />
                                                        <input type="hidden" name="tipodato" value="@item.CamposPrTipoDato" />
                                                        <input type="hidden" name="version" value="@item.CamposPrVersion" />
                                                        <input type="hidden" name="obligatorio" value="@item.CamposPrObliga1" />
                                                        <button type="submit" class="btn btn-primary"><i class="fa-sharp fa-solid fa-angle-right"></i></button>
                                                    </form>
                                                </td>
                                                <td class="text-center">
                                                    <form method="post" action="@Url.Action("DeleteCampoProveedor", "ConfigCampos")">
                                                        <input type="hidden" name="id" value="@item.CamposPrId" />
                                                        <button type="submit" class="btn btn-danger">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <br><br>
                                    <br><br>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <table id="table2" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Campos Mirage</th>
                                            <th scope="col" class="text-center">Acciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item2 in Model.Item2)
                                        {
                                            <tr>
                                                <td class="text-center">@item2.CamposMiCampo</td>
                                                <td class="text-center">
                                                    <form method="post" action="@Url.Action("DeleteCampoMirage", "ConfigCampos")">
                                                        <input type="hidden" name="id" value="@item2.CamposMiId" />
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>

                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/sidebar.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <script src="~/Scripts/export-csv.js"></script>
    <script>
        $(document).ready(function () {
            var selectedRow = null;

            // Add click event listener to table rows
            $('table tbody tr').click(function () {
                // Remove "selected" class from previously selected row
                if (selectedRow != null) {
                    $(selectedRow).removeClass('selected');
                }

                // Add "selected" class to clicked row
                $(this).addClass('selected');
                selectedRow = this;
            });

            // Add click event listener to move button
            $('#move-btn').click(function () {
                var selectedRow = $("#table1 tbody tr.selected");

                // Check if a row is selected
                if (selectedRow != null) {

                    // Append selected row to destination table
                    $('#table2 tbody').append($(selectedRow));
                    // Remove "selected" class from selected row
                    $(selectedRow).removeClass('selected');
                    selectedRow = null;
                }
            });

            // Add click event listener to move back button
            $('#move-back-btn').click(function () {
                // Check if a row is selected
                if (selectedRow != null) {
                    // Append selected row to original table
                    $('#table1 tbody').append($(selectedRow));
                    // Remove "selected" class from selected row
                    $(selectedRow).removeClass('selected');
                    selectedRow = null;
                }
            });

            // Add click event listener to move second to first button
            $('#move-second-to-first-btn').click(function () {
                // Check if a row is selected
                if (selectedRow != null) {
                    // Append selected row to original table
                    $('#table1 tbody').append($(selectedRow));
                    // Remove "selected" class from selected row
                    $(selectedRow).removeClass('selected');
                    selectedRow = null;
                }
            });





        });






    </script>

</body>

</html>